<h3>Detta  är show</h3>

<p><em>Name: </em> <%= @bands['name'] %></p>
<p><em>Genre: </em> <%= @bands['genre'] %></p>
<p><em>Started: </em> <%= @bands['started'] %></p>
<p><em>Best Song : </em> <%= @bands['best_song'] %></p>

<% if session[:user_id] %>
  <form class="delete" action="/bands/<%= @bands['id'] %>/delete" method="post">
    <input type="submit" value="Delete band">
  </form>
<% end %>  <br>

<a href="/">Back to start</a> <br>

<a href="/comment/<%=@bands["id"]%>/edit">Edit</a> 

<h3>Alla Kommenterar på detta band</h3>
<a href="/comment/<%=@bands["id"]%>">Gör en kommentar</a> </br>
<ul> 
  <% @comments.each do |comment| %>
    <li>
    <p> <em><%= comment['username'] %>:</em>  <%= comment['comment'] %> </p>
      <form class="delete" action="/comment/<%= comment['id'] %>/delete" method="post">
        <input type="submit" value="Delete comment">
        <a href="/comment/<%= comment['id'] %>/edit">Edit comment</a> </br>

      </form>
    </li>   
  <% end %>
</ul>

